body{
    background-color:#e7d8c9;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.pizzas {
    display: flex;

}

.pizza {
/*Box Model*/
border: 1px solid #d9effc;
padding: 1em;
margin: 1em;
margin-bottom: 1em;
border-radius: 1em;
border: 1px solid;
/*width:10em;
display;*/
}
.large_pizza {
    background-color:#fdf4f6;
    flex: 3;

}
.medium_pizza {
    background-color:#ccf0f0;
    flex: 3;
}
.small_pizza {
    background-color:rgb(199, 159, 113);
    flex: 3;
}
.contact_us {
    background-color:rgb(198, 178, 212);
    flex 3
}

}
@media (min-width: 960px) {
    body {
        background-color:#cdf5db;
        display: flex;
    }

    .pizzas {
        display:flex;
    }

}
@media (min-width: 760px) {
    body {
        background-color:#e8e8e4;
        display: flex;
    }

}


